server:
  port: 80

## H2 Connection
spring:
  datasource:
    url: jdbc:h2:file:C:\temp\music;DB_CLOSE_DELAY=-1;AUTO_SERVER=TRUE
    driver-class-name: org.h2.Driver
    username: sa
    password:

## H2 Client
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    datasource:
      url:

## Oauth2
  security:
    oauth2:
      client:
        registration:

          ##Google

          google:
            clientId: ${GOOGLE_CLI}
            clientSecret: ${GOOGLE_SEC}
      resourceserver:
        jwt:
          issuer-uri: https://accounts.google.com

## Secret Key
api:
  security:
    token:
      secret: 645267556B58703273357638792F413F4428472B4B6250655368566D59713374
      expiration-minutes: 30
